github "realm/realm-cocoa" "v3.10.0"
github "Skyscanner/SkyFloatingLabelTextField" ~> 3.6.0
github "ReactiveX/RxSwift" ~> 4.2.0
github "RxSwiftCommunity/RxOptional" ~> 3.5.0
github "Quick/Quick" "v1.3.2"
github "Quick/Nimble" "v7.3.1"
github "kif-framework/KIF" "v3.7.4"
